@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  @apply mx-auto;
  max-width: 80ch;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

header,
footer {
  @apply py-4 px-2;
  min-height: 3rem;
}

h1 {
  @apply text-2xl;
}

/* Milkdown Editor */
.milkdown {
  @apply bg-slate-100 py-4 m-4 border rounded;
  overflow-y: scroll;
  max-height: calc(100vh - 10rem);
}

.milkdown .editor {
  @apply mx-auto;
  line-height: 1.5;
}

.milkdown .editor h2 {
  @apply mt-5;
}

.milkdown .editor img {
  width: 100%;
  border: 0.15rem solid rebeccapurple;
  border-radius: 0.3rem;
}

@media screen and (max-width: 900px) {
  .milkdown {
    @apply bg-slate-100 p-4 m-4 border rounded;
    max-height: calc(100vh - 10rem);
  }
}
